.header {
    width: 100%;
}

nav {
    width: 100%;
    min-height: 91px;
    padding: 25px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand-logo {
        display: block;
        box-sizing: border-box;
        padding: 12px 18px;
        max-width: 321px;
        height: auto;
        border-radius: 3px;
        border: 1.5px solid #b2b2b2;
        color: #b2b2b2;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 800;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        text-align: center;
        .brand-logo-inner {
            display: flex;
            align-items: center;
            span {
                display: flex;
                margin-left: 5px;
            }
        }
    }
    .sidenav-trigger {
        display: flex;
        align-items: center;
        min-height: 41px;
        color: $MainFontColor;
        font-size: 24px;
    }
    .hide-on-med-and-down {
        display: flex;
        justify-content: space-between;
        li {
            a {
                color: $MainFontColor;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 41px;
            }
        }
    }
    .sidenav {
        background-color: #eceaea;
        padding-top: 50px;
        li {
            text-align: center;
            a {
                color: $MainFontColor;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 41px;
            }
        }
    }
}

.header_global {
    width: 100%;
    background-image: url(../img/wh.png);
    background-repeat: no-repeat;
    background-size: 1180px;
    background-position: center top;
    padding: 101px 0;
    border-top: 1px solid #dadada;
}

.gis {
    margin: 0 auto;
    margin-bottom: 30px;
    &_logo {
        img {
            width: 98px;
            height: 98px;
        }
        margin-bottom: 20px;
    }
    &_heading {
        color: $MainFontColor;
        font-family: 'Merriweather';
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 14px;
    }
    &_text {
        color: $MainFontColor;
        font-family: 'Merriweather';
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }
}

.donate_form {
    max-width: 360px;
    height: 298px;
    margin: 0 auto;
    form {
        width: 100%;
        .period {
            margin: 12px 0;
            td {
                width: 50%;
                &:first-child {
                    label {
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        margin-right: -1px;
                    }
                }
                &:last-child {
                    label {
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        margin-left: -1px;
                    }
                }
            }
            label {
                display: block;
                height: 100%;
                color: $MainFontColor;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 50px;
                text-align: center;
                padding: 0;
                border: 2px solid $MainGreen;
            }
            input[type=radio] {
                display: none;
            }
            input:checked + label {
                background-color: $MainGreen;
            }
        }
        .amount {
            margin: 12px 0;
            td {
                width: 33.33%;
                &:first-child {
                    label {
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        margin-right: -1px;
                    }
                }
                &:last-child {
                    label {
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        margin-left: -1px;
                    }
                }        
                &:nth-child(2) {
                    label {
                        
                        margin: 0 -1px;
                    }
                }
            }
            label {
                display: block;
                height: 100%;
                color: $MainFontColor;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 50px;
                text-align: center;
                padding: 0;
                border: 2px solid $MainGreen;
            }
            input[type=radio] {
                display: none;
            }
            input:checked + label {
                background-color: $MainGreen;
            }
        }
        button {
            width: 100%;
            margin-top: 12px;
        }
    }
}