.header {
    width: 100%;
}

nav {
    width: 100%;
    height: 91px;
    padding: 25px 0;
    .brand-logo {
        display: block;
        box-sizing: border-box;
        padding: 12px 0;
        width: 321px; //                height: 71px;
        border-radius: 3px;
        border: 1.5px solid #b2b2b2;
        color: #b2b2b2;
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: 800;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        text-align: center;
    }

    .sidenav-trigger {
        color: $MainFontColor;
    }

    .hide-on-med-and-down {
        li {
            a {
                color: $MainFontColor;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 700;
                line-height: 41px;
            }
        }
    }

}

.header_global {
    width: 100%;
    background-image: url(../../img/wh.png);
    background-repeat: no-repeat;
    background-size: 1180px;
    background-position: center top;
    padding: 101px 0;
    border-top: 1px solid #dadada;
}

.gis {
    &_logo {
        img {
            width: 98px;
            height: 98px;
        }
        margin-bottom: 20px;
    }
    &_heading {
        color: $MainFontColor;
        font-family: 'Merriweather';
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 14px;
    }
    &_text {
        color: $MainFontColor;
        font-family: 'Merriweather';
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }
}

.donate_form {
    height: 298px;
    form {
        display: none;
    }
}
